<% if flash[:error] %>
	<h3><%= flash[:error] %></h3>
<% end %>

<form action="/confirmacion" method="post" class="form-inline">
	<div class="well">
		<h4><%= "PATIENT: #{patient.code}" %></h4>
	</div>

		En cada paciente evalúe los siguientes 4 ítems. Después lea la petición del especialista y evalué lo que se 		solicita según la sospecha clínica de cada paciente Marque con una X en la pregunta de cada ítem si y sólo si
		considera que la resonancia presenta dichos hallazgos.

		<h5>1. Esclerosis hipocampal:</h5>
		Zonas a ser inspeccionadas:
		Lóbulo temporal mesial, hipocampo, giro parahipocampal, amígdala
		<h6>Hallazgos a explorar:</h6>



				<div class="row">
				<div class= "span5">
					Volumen del hipocampo al ojo desnudo.
				</div>
				<div class= "span3 offset2" >
					<label class="checkbox">
						<input type="checkbox" name="esclerosi[atrofia_subj]" id="atrofia_subj" value="true"=> &nbsp 							Atrofia
		 	   	 	</label>
	 	  		</div>
			</div>
			<div class="row">
				<div class= "span5">
					Hiperintensidad en T2 y FLAIR.
				</div>
				<div class= "span3 offset2" >
					<label class="checkbox">
						<input type="checkbox" name="esclerosi[hiperintensidad]" id="hiperintensidad" value="true"> 						&nbsp Presente
	 	   		 	</label>
	   			</div>
			</div>

			<div class="row">
				<div class= "span5">
					Superficie y estructura interna del hipocampo en T1
				</div>
				<div class= "span3 offset2" >
					<label class="checkbox">
						<input type="checkbox" name="esclerosi[estructura_anormal]" id=":estructura_anormal" value="true"> &nbsp Anormal
	 	   		 	</label>
	   			</div>
			</div>


			<div class="row">
				<div class= "span5">
					Tamaño del hipocampo por volumetría:
				</div>
				<div class= "span3 offset2" >
					<input placeholder="Volumen" type="number" class="input-small" name="esclerosi[volumen]">
	   			</div>
			</div>

			<h6>Conclusión</h6>
			<div class="row">
				<div class= "span5">
					Esclerosis hipocampal derecha:
				</div>
				<div class= "span3 offset2" >
					<label class="checkbox">
						<input type="checkbox" name="esclerosi[esclerosis_derecha]" id=":esclerosis_derecha" 						value="true">
	 	   		 	</label>
	   			</div>
			</div>

			<div class="row">
				<div class= "span5">
					Esclerosis hipocampal izquierda:
				</div>
				<div class= "span3 offset2" >
					<label class="checkbox">
						<input type="checkbox" name="esclerosi[esclerosis_izquierda]" id=":esclerosis_izquierda" 							value="true">
	 	   		 	</label>
	   			</div>
			</div>

			<div class="row">
				<div class= "span5">
					Esclerosis hipocampal bilateral:
				</div>
				<div class= "span3 offset2" >
					<label class="checkbox">
						<input type="checkbox" name="esclerosi[esclerosis_bilateral]" id=":esclerosis_bilateral" 							value="true">
	 	   		 	</label>
	   			</div>
			</div>



			<h5>2. Displasia cortical focal (DCF)</h5>
			Zonas a ser inspeccionadas: Frontal-parietal>temporal>occipital
			<h6>Hallazgos a explorar:</h6>

			<div class="row">
				<div class= "span5">
					Hiperintensidad sustancia blanca en FLAIR y T2:
				</div>
				<div class= "span3 offset2" >
					<label class="checkbox">
						<input type="checkbox" name="displasia[hiperintensidad]" id=":hiperintensidad" 	value="true">
						&nbsp Presente
	 	   		 	</label>
	   			</div>
			</div>

			<div class="row">
				<div class= "span5">
					Diferenciación de sustancia gris y blanca
				</div>
				<div class= "span3 offset2" >
					<label class="checkbox">
						<input type="checkbox" name="displasia[diferenciacion_grisblanca]" 								id=":diferenciacion_grisblanca" value="true">
						&nbsp Anormal
	 	   		 	</label>
	   			</div>
			</div>

			<div class="row">
				<div class= "span5">
					 Engrosamiento focal cortical
				</div>
				<div class= "span3 offset2" >
					<label class="checkbox">
						<input type="checkbox" name="displasia[engrosamiento]" id=": Engrosamiento focal cortical" 	value="true">
						&nbsp Presente
	 	   		 	</label>
	   			</div>
			</div>

			<div class="row">
				<div class= "span5">
					 Signo transmanto en FLAIR
				</div>
				<div class= "span3 offset2" >
					<label class="checkbox">
						<input type="checkbox" name="displasia[transmato]" id=":transmato" 	value="true">
						&nbsp Presente
	 	   		 	</label>
	   			</div>
			</div>

			<div class="row">
				<div class= "span5">
					 Patrón de circunvoluciones y surcos
				</div>
				<div class= "span3 offset2" >
					<label class="checkbox">
						<input type="checkbox" name="displasia[circunvoluciones]" id=":circunvoluciones" value="true">
						&nbsp Anormal
	 	   		 	</label>
	   			</div>
			</div>


			<div class="row">
				<div class= "span5">
					 Reformateo curvilíneo: patrón de surcos
				</div>
				<div class= "span3 offset2" >
					<label class="checkbox">
						<input type="checkbox" name="displasia[reformateo]" id=":reformateo" value="true">
						&nbsp Anormal
	 	   		 	</label>
	   			</div>
			</div>

			<h6>Conclusión: Displasia cortical en</h6>

			<div class="row">
				<div class= "span3">
					 Circunvolución
				</div>
					<input type="text" class="span2" name="displasia[discircunvolucion]">
				</div>

			<div class="row">
				<div class= "span3">
					 Lóbulo
				</div>
				<input type="text" class="span2" name="displasia[dislobulo]">
			</div>

			<div class="row">
				<div class= "span3">
					 Hemisferio
				</div>
				<input type="text" class="span2" name="displasia[dishemisferio]">
			</div>



			<h5>3. Tumor de bajo grado</h5>
			Zonas a ser inspeccionadas: Todos los lóbulos, predominantemente el lóbulo temporal

			<h6>Hallazgos a explorar:</h6>

			<div class="row">
				<div class= "span5">
					Hiperintensidad en T2
				</div>
			<div class= "span3 offset2" >
				<label class="checkbox">
					<input type="checkbox" name="tumor[hiperintensidad]" id=":hiperintesidad" value="true">
						&nbsp Presente
	 	   		 </label>
	   			</div>
			</div>

			<div class="row">
				<div class= "span5">
					Lesión bien definida
				</div>
				<div class= "span3 offset2" >
					<label class="checkbox">
						<input type="checkbox" name="tumor[lesion]" id=":lesion" value="true">
							&nbsp Presente
		 	   		 </label>
		   			</div>
				</div>

			<div class="row">
				<div class= "span5">
					Efecto de masa
				</div>
				<div class= "span3 offset2" >
					<label class="checkbox">
						<input type="checkbox" name="tumor[efecto_masa]" id=":efecto_masa" value="true">
							&nbsp Presente
		 	   		 </label>
		   			</div>
				</div>

			<div class="row">
				<div class= "span5">
					Nódulo o quiste (simple o múltiple)
				</div>
				<div class= "span3 offset2" >
					<label class="checkbox">
						<input type="checkbox" name="tumor[nodulo]" id=":nodulo" value="true">
							&nbsp Presente
		 	   		 </label>
		   			</div>
			</div>


			<div class="row">
				<div class= "span5">
					Calcificaciones
				</div>
				<div class= "span3 offset2" >
					<label class="checkbox">
						<input type="checkbox" name="tumor[calsificaciones]" id=":calsificaciones" value="true">
							&nbsp Presente
		 	   		 </label>
		   			</div>
			</div>

			<h6>Conclusión:</h6>


			<div class="row">
				<div class= "span3">
				Hallazgos sugestivos de tumor:
				</div>
				<input type="text" class="span2" name="tumor[hallazgos]">
			</div>

			<div class="row">
				<div class= "span3">
				Ubicado en circunvolución:
				</div>
				<input type="text" class="span2" name="tumor[circunvolucion]">
			</div>

			<div class="row">
				<div class= "span3">
				Lóbulo:
				</div>
				<input type="text" class="span2" name="tumor[lobulo]">
			</div>

			<div class="row">
				<div class= "span3">
				Hemisferio:
				</div>
				<input type="text" class="span2" name="tumor[hemisferio]">
			</div>


			<h5>4. Malformación vascular (MV)</h5>
			Zonas a ser inspeccionadas: Todos los lóbulos, en menor proporción el temporal
			<h6>Hallazgos a explorar:</h6>

			<div class="row">
				<div class= "span5">
					Centro hiperintenso
				</div>
				<div class= "span3 offset2" >
					<label class="checkbox">
						<input type="checkbox" name="malformacion[centro_hipert]" id=":centro_hipert" value="true">
						&nbsp Presente
	 	   		 	</label>
	   			</div>
			</div>

			<div class="row">
				<div class= "span5">
					Señal periférica de vacío
				</div>
				<div class= "span3 offset2" >
					<label class="checkbox">
						<input type="checkbox" name="malformacion[senal_peri]" id=":senal_peri" value="true">
						&nbsp Presente
	 	   		 	</label>
	   			</div>
			</div>

			<div class="row">
				<div class= "span5">
					Anillo hipointenso en T2 (deposito de hemosiderina)
				</div>
				<div class= "span3 offset2" >
					<label class="checkbox">
						<input type="checkbox"  name="malformacion[anillo_hipo]" id=":anillo_hipo" 	value="true">
						&nbsp Presente
	 	   		 	</label>
	   			</div>
			</div>

			<div class="row">
			<div class= "span5">
				Vaso alimentando la malformación
			</div>
			<div class= "span3 offset2" >
				<label class="checkbox">
					<input type="checkbox" name="malformacion[vaso]" id=":vaso" value="true">
						&nbsp Presente
 	   		 	</label>
   			</div>
			</div>


			<h6>Conclusiones:</h6>

			<div class="row">
				<div class= "span3">
				Hallazgos sugestivos de MV tipo:
				</div>
				<input type="text" class="span2" name="malformacion[hallazgo_mv]">

			</div>


			<div class="row">
				<div class= "span3">
				Ubicada en la circunvolución:
				</div>
					<input type="text" class="span2" name="malformacion[circunvolucion]">

			</div>

			<div class="row">
				<div class= "span3">
				Lóbulo
			</div>
				<input type="text" class="span2" name="malformacion[lobulo]">
			</div>

			<div class="row">
				<div class= "span3">
				Hemisferio
			</div>
				<input type="text" class="span2" name="malformacion[hemisferio]">
			</div>

			<br>
			<div class="row">
				<div class="span3"> Observaciones adicionales:
				</div>
					<textarea rows="5" class="span6"></textarea>
				</div>

				<br>

			<h5><strong>REPORTE FINAL</strong></h5>

			<div class="row">
				<div class="span3 offset2">
					<label class="radio">
				<input type="radio" name="conclusion[rm]" id="rm" value="Normal">
				RM Normal
				</label>
				</div>
			<div class="span2">
			<label class="radio">
				<input type="radio" name="conclusion[rm]" id="rm" value="Anormal">
				RM Anormal
			</label>
			</div>
		</div>
		<br>

		<div class="row">
			<div class="span3">
			Paciente con sospecha clínica de:
			</div>
			<input type="text" class="span5" name="conclusion[sospecha]">
		</div>


		<div class="row">
			<div class="span3">
				Correlación clínico imaginológica
			</div>
			<div class="span2">
				<label class="radio">
			<input type="radio" name="conclusion[correlacion]" id="correlacion" value="Si">
			Si
			</label>
			</div>
		<div class="span2">
		<label class="radio">
			<input type="radio" name="conclusion[correlacion]" id="correlacion" value="No">
			No
		</label>
		</div>
		</div>


		<div class="row">
			<div class="span3">
			Código de la resonancia:
			</div>
			<input type="text" class="span5" name="reporte[codigo]">
		</div>


		<div class="row">
			<div class="span3">
			Fecha de lectura:
			</div>
			<input type="text" class="span5" name="reporte[fecha]">
		</div>



		<div class="row">
			<div class="span3">
			Firma del radiólogo:
			</div>
			<input type="text" class="span5" name="reporte[firma]">
		</div>


	<div class="form-actions">
		<button type="submit" class="btn btn-primary">Guardar</button>
		<button type="button" class="btn">Cancelar</button>
	</div>
</form>
