<h3>EL REPORTE PARA EL PACIENTE <em><%="#{patient.code}" %></em> EN EL EQUIPO <em><%="#{report.equipo}"%></em> YA HA SIDO CREADO POR EL RADIÓLOGO: <em><%="#{report.radiologo}"%></em</h3>

<form action="/" method="get" class="form-inline">

<div class="form-actions">
	<button type="submit" class="btn btn-primary">Crear otro informe</button>
	<button type="submit" class="btn">Buscar informes</button>
</div>

</form>